.pl-lease-container {
  height: calc(100vh - 134px);

  .pl-leases-heading {
    text-transform: uppercase;
    text-align: center;
    padding: #{$unit * 3};
  }

  td, th {
    text-align: center;
  }

  .pl-view-details-icon {
    i {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.pl-no-leases {
  text-align: center;
  font-size: #{$unit * 1.1};
  color: $primary-color;
}

.pl-leases-error {
  text-align: center;
  font-size: #{$unit * 1.1};
  color: #e4a60b;
}

.pl-spinner {
  text-align: center;

  div {
    color: $primary-color !important;
    height: #{$unit * 3};
    width: #{$unit * 3};
  }
}